* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins', sans-serif;
    color: #ffff;
}


html {
    font-size: 62.5%;
    
}

img{
    display: block;
    max-width: 100%;
}

a{
    display: inline-block;
    text-decoration: none;
}

ul{
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
}