

header{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 16px 0;
    
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav{
    display: flex;
    align-items: center;
    gap: 4.8rem;
}

header nav ul{
    display: flex;
    gap: 3.2rem;
}

header nav ul li a{
    color: var(--grey);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.8rem;
    opacity: 0.8;
    transition: opacity .3s ease;
}

header nav ul li a:hover{
    opacity: 1;
}


header nav .btn{
    display: inline-block;
    padding: 1.6rem 4.8rem;
    border-radius: 4.1rem;
    border: 2px solid rgba(244, 246, 252,0.20);
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--white);  
    transition: background-color .3s ease;

}

header nav .btn:hover{
    background-color: rgba(244, 246, 252,0.20);

}


.s-hero {
    background-color: var(--tint-blue);
    padding-top: 21.8rem;
    padding-bottom: 12.8rem;

}

.s-hero .container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.s-hero .text{
    width: 100%;
    max-width: 52.8rem;
}

.s-hero .text p{
    margin-top: 2.4rem;
    margin-bottom: 4.8rem;
    max-width: 56.2rem;
    opacity: 0.6;
}

.s-hero .text .btns{
    display: flex;
    align-items: center;
    gap: 4rem;

}

.s-hero .text .btns .btn-work{
    background-color: var(--yellow);
    padding: 1.6rem 5.6rem;
    border-radius: 4.1rem;
    color: var(--tint-blue);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.2rem;
    transition: transform .3s ease;
}

.s-hero .text .btns .btn-work:hover{
    transform: scale(1.1);
}

.s-hero .text .btns .btn-pricing{
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.s-hero .text .btns .btn-pricing span{
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.8rem;
    
}
.s-hero .text .btns .btn-pricing img{
    transition: transform .3s ease;
}

.s-hero .text .btns .btn-pricing:hover img{
    transform: translateX(10px);

}

.s-work{
    background-color: var(--grey);
    padding: 12.8rem 0;
}

.s-work .container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}

.s-work .left-container{
    width: 100%;
    max-width: 40.5rem;
}

.s-work .left-container h2{
    color: var(--dark-blue);
}

.s-work .left-container p{
    color: var(--dark-blue);
    opacity: 0.6;
    margin: 1.6rem 0;
}

.s-work .left-container .btn{
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.s-work .left-container .btn span{
    color: var(--royal-blue);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3.2rem;

}

.s-work .left-container .btn img{
    transition: transform .3s ease;

}

.s-work .left-container .btn:hover img{
    transform: translateX(10px);
    
}

.s-work ul{
    width: 100%;
    max-width: 65.6rem;
    display: flex;
    flex-wrap: wrap;
    gap: 4.8rem 2.5rem;
}

.s-work ul li{
    width: 30rem;
}

.s-work ul li .number{
    display: block;
    width: 5rem;
    height: 5rem;
    background: url("../img/bg-itens-work.svg") no-repeat center center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3.2rem;
    margin-bottom: 1.6rem;
}

.s-work ul li h3{
    color: var(--dark-blue);
    margin-bottom: 8px;

}

.s-work ul li p{
    color: var(--dark-blue);
    opacity: 0.6;
}

.s-project{
    padding-top: 12.8rem;
    padding-bottom: 15.1rem;
}

.s-project .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6.4rem;
}


.s-project .top .btn{
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.s-project .top .btn img{
    transition: transform .3s ease;
}

.s-project .top .btn:hover img{
    transform: translateX(1rem);
}

.s-project .top h2{
    color: var(--dark-blue);

}

.s-project .all-projects{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
}



.s-project .all-projects .card-project-featured{
    position: relative;
    display: block;
    max-width: 84.3rem;
    height: 60rem;

}


.s-project .all-projects .card-project-featured .image img{
    transition: transform .3s ease;

}

.s-project .all-projects .card-project-featured:hover .image img{
    transform: scale(1.1);

}

.s-project .all-projects .card-project-featured .overlay{
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(306deg, #1C1E53 0%, rgba(28, 30, 83, 0.42) 100%);
    width: 100%;
    max-width: 39.6rem;
    height: 100%;
    z-index: 1;
    padding-left: 4.8rem;
    padding-right: 3.5rem;
    padding-bottom: 7.6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.s-project .all-projects .card-project-featured .overlay p{ 
    margin-top: 1.6rem;
    margin-bottom: 4rem;
    max-width: 29.3rem;
}

.s-project .all-projects .card-project-featured .overlay span{
    display: flex;
    align-items: center;
    gap: 1.6rem;
    color: var(--yellow);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.8rem;
}

.s-project .all-projects .card-project-featured .image{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.s-project .all-projects .card-project-featured .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.s-project .all-projects .second-projects{
    width: 100%;
    max-width: 40.5rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.s-project .all-projects .second-projects .card-project{
    position: relative;
    display: block;
    width: 100%;
    height: 28.4rem;
    
}

.s-project .all-projects .second-projects .card-project .image{
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}

.s-project .all-projects .second-projects .card-project .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.s-project .all-projects .second-projects .card-project .overlay{
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(306deg, #1C1E53 0%, rgba(28, 30, 83, 0.42) 100%);
    width: 100%;
    height: 100%;
    z-index: 1;
    padding-left: 5.6rem;
    padding-right: 3.6rem;
    padding-bottom: 4.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    opacity: 0;
    transition: opacity .3s ease;
}

.s-project .all-projects .second-projects .card-project:hover .overlay{
    opacity: 1;

}

.s-project .all-projects .second-projects .card-project .overlay span{
    display: flex;
    align-items: center;
    gap: 1.6rem;
    color: var(--yellow);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.8rem;
    margin-top: 1rem;

}

.s-features{
    background-color: var(--grey);
    padding: 12.8rem 0px;

}

.s-features .title{
    text-align: center;
    max-width: 63rem;
    margin: 0 auto;
    margin-bottom: 4.7rem;
}

.s-features .title h2{
    color: var(--dark-blue);
    margin-top: 1.2rem;
}

.s-features .all-cards {
    display: flex;
    gap: 3.2rem;
    flex-wrap: wrap;
}

.s-blog{
    padding-top: 6rem;
    padding-bottom: 12.3rem;
}

.s-blog h2{
    color: var(--dark-blue);
    margin-bottom: 6.4rem;

}

.s-blog .all-cards{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
}



footer .main-area{
    background-color: var(--tint-blue);
    padding-top: 9.6rem;

}

footer .main-area .container{
    display: flex;
    align-items: flex-start;
    gap: 14.2rem;
}

footer .main-area .left-container{
    width: 100%;
    max-width: 51.7rem;
}

footer .main-area .left-container p{
    margin-top: 2.3rem;
    margin-bottom: 8.6rem;
    max-width: 39.9rem;
}

footer .main-area .left-container .contact{
    background-color: var(--yellow);
    padding: 1.8rem 1.8rem 1.6rem 3.7rem;
}

footer .main-area .left-container .contact ul{
    display: flex;
    align-items: flex-start;
    gap: 2.9rem;
}

footer .main-area .left-container .contact ul li strong{
    display: block;
    color: var(--dark-blue, #282938);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3.2rem;
}

footer .main-area .left-container .contact ul li a{
    display: block;
    color: var(--dark-blue);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem;
    opacity: 0.8;
    transition: opactiy .3s ease;

}

footer .main-area .left-container .contact ul li a{
    opacity: 1;
}

footer .main-area .right-container{
    width: 100%;
    max-width: 39.9rem;
}

footer .main-area .right-container p{
    margin-top: 1.4rem;
    margin-bottom: 2.8rem;

}

footer .main-area .right-container ul{
    display: flex;
    align-items: center;
    gap: 2.6rem;
}


footer .main-area .right-container ul li a {
    transition: opacity .3s ease;
}

footer .main-area .right-container ul li a:hover{
    opacity: 0.6;

}


footer .second-area{
    padding: 3.2rem 0px;
}

footer .second-area .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .second-area p{
    color: var(--dark-blue);

}

footer .second-area ul{
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

footer .second-area ul li a {
    color: var(--dark-blue);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.8rem;
    transition: all .3s ease;
}

footer .second-area ul li a:hover{
    opacity: 0.5;
}

@media(max-width: 1200px){
    .s-hero{
        padding-top: 14.8rem;
        padding-bottom: 6rem;
       
    }
    .s-hero .ilustra{
        max-width: 53rem;
    }
    .s-work{
        padding: 6rem 0;

    }
    .s-work .container {
        flex-direction: column;
        align-items: center;
        gap: 4rem;

    }

    .s-work .left-container {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .s-work ul{
        max-width: 100%;
        gap: 2% 4rem;
    }

    .s-work ul li{
        width: 48%;
    }

    .s-project {
        padding-top: 5.8rem;
        padding-bottom: 7.1rem;
    }
    
    .s-project .top{
        margin-bottom: 3.4rem;
    }
    .s-project .all-projects .card-project-featured{
        max-width: 59%;

    }
    .s-project .all-projects .second-projects{
        max-width: 39%;
    }

    .s-features{
        padding: 5.8rem 0px;
    }
    
    .s-features .all-cards {
        gap: 2rem 2%;
    }

    .card-featured{
        max-width: 49%;
    }
    .s-blog {
        padding-top: 4rem;
        padding-bottom: 6rem;
    }

    .s-blog h2{
        margin-bottom: 3.4rem;
    }

    .s-blog .all-cards{
        gap: 2rem;
    }

    footer .main-area{
        padding-top: 4.6rem;

    }

}


@media(max-width: 991px){
    header nav ul{
        display: none;
    }

    .s-hero .container{
        flex-direction: column-reverse;
        gap: 4rem;
    }

    .s-hero .text {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .s-project .all-projects{
        flex-direction: column;
        align-items: flex-start;
        gap: 3rem;
    }
    
    .s-project .all-projects .card-project-featured{
        max-width: 100%;
    }

    .s-project .all-projects .second-projects{
        max-width: 100%;
    }

    .s-blog .all-cards{
        flex-direction: column;
        align-items: flex-start;
        gap: 4rem;
    }

    .card-post {
        max-width: 100%;
    }

    footer .main-area .container {
        flex-direction: column-reverse;
        gap: 4rem;
    }

    footer .main-area .right-container{
        width: 100%;
        max-width: 100%;
    }

    footer .main-area .left-container{
        width: 100%;
        max-width: 100%;

    }
    footer .main-area .left-container p{
        margin-bottom: 3.6rem;
        max-width: 100%;
    }

}

@media(max-width: 560px){
    header nav .btn{
        padding: 1rem 3rem;
        font-size: 1.4rem;
    }

    .s-hero{
        padding-top: 10rem;
        padding-bottom: 4rem;
    }

    .s-hero .text h1{
        font-size: 4.2rem;
        line-height: 120%;
    }
    .s-hero .text .p{
        margin-top: 2rem;
        margin-bottom: 2rem;
        max-width: 100%;
    }

    .s-hero .text .btns{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .s-hero .ilustra{
        max-width: 100%;
    }

    .s-work {
        padding: 4rem 0;
    }
    .s-work ul li {
        width: 100%;
        text-align: center;
    }
    
    .s-work ul li .number{
        margin: auto;
        margin-bottom: 2rem;
    }
    
    .s-work ul li h3{
        font-size: 2.4rem;
        line-height: 1;


    }

    .s-work .left-container h2{
        
        font-size: 3.6rem;
        line-height: 120%;
    }

    .s-project {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .s-project .top{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .s-project .top h2{
        text-align: center;
        font-size: 3.6rem;
    }

    .s-project .all-projects .card-project-featured {
        height: auto;
    }
    
    .s-project .all-projects .card-project-featured .overlay{
        position: relative;
        padding: 2rem;
    }
    .s-project .all-projects .card-project-featured .overlay p{
        
        margin-bottom: 1rem;
        max-width: 100%;
    }

    .s-project .all-projects .second-projects .card-project .overlay{
        opacity: 1;
        padding: 2rem;
        position: relative;
    }

    .s-project .all-projects .second-projects .card-project{
        height: auto;
    }
    
    .s-project .all-projects .second-projects .card-project .overlay h4{
        font-size: 1.8rem;
        line-height: 130%;
        max-width: 25rem;
       
    }

    .s-project .all-projects,
    .s-project .all-projects .second-projects {
        gap: 2rem;
    }

    .s-features {
        padding: 4rem 0px;
    }

    .card-featured {
        max-width: 100%;
        height: auto;
        padding: 2rem;
    }

    .s-features .title h2{
        font-size: 3.6rem;
        line-height: 130%;
    }
    
    .s-features .title{
        max-width: 100%;
        margin-bottom: 2rem;

    }

    .s-blog {
        padding-bottom: 4rem;
    }

    .s-blog h2{
        font-size: 3.6rem;
        line-height: 130%;
        margin-bottom: 2rem;
    }

    .card-post .image {
        height: 22.5rem;
    }

    .card-post .text{
        margin-top: 2rem;
    }

    .card-post .text h4{
        font-size: 1.8rem;
        line-height: 130%;
    }

    .card-post .text p{
        font-size: 1.4rem;
        line-height: 160%;
        margin-bottom: 2rem;
    }

    .card-post .text span{
        font-size: 1.4rem;
        line-height: 130%;
        margin-bottom: 1rem;
    }

    footer .second-area ul{
        display: none;
    }

    footer .main-area{
        padding-top: 4rem;
    }

    footer .main-area .right-container h2{
        font-size: 3.6rem;
        line-height: 130%;

    }
    footer .main-area .left-container .contact {
        padding: 2rem;
    }

    footer .main-area .left-container .contact ul{
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
    footer .second-area{
        padding: 2rem 0;
    }

    footer .second-area p{
        text-align: center;
        width: 100%;
    }
}